<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Market - Iniciar Sesión</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="login">
        <div class="login__form-container">
            <a href="#" class="login__back-button">&larr;</a>
            <div class="form-container_group">
                <h1 class="login__title">Iniciar sesión</h1>
                <form id="login-form" class="login__form">
                    <div class="input-container">
                        <input type="text" id="username" name="username" class="login__input" placeholder="Nombre de usuario" required>
                        <img src="../assets/svg/user-icon.svg" class="input-icon" alt="User Icon"> <!-- Icono SVG del usuario -->
                        <small class="input-helper">¿Olvidaste tu nombre de usuario?</small>
                    </div>
                    
                    <div class="input-container">
                        <input type="password" id="password" name="password" class="login__input" placeholder="Contraseña" required>
                        <img src="../assets/svg/password-icon.svg" class="input-icon" alt="Password Icon"> <!-- Icono SVG del candado -->
                        <small class="input-helper">¿Olvidaste tu contraseña?</small>
                    </div>
                    
                    <button type="submit" class="login__button login__button--primary">Iniciar sesión</button>
                </form>
                <p class="login__footer">¿No tienes una cuenta? <a href="register.html" class="login__link">Regístrate</a></p>
            </div>
        </div>
        <div class="login__logo-container">
            <img src="../assets/svg/logo.svg" alt="San Market Logo" class="login__logo">
        </div>
    </div>
</body>
</html>
