<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Market - Registro</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <div class="register">
        <div class="register__logo-container">
            <a href="#" class="login__back-button">&larr;</a>
            <img src="../assets/svg/logo.svg" alt="San Market Logo" class="register__logo">
        </div>
        <div class="register__form-container">
            <div class="form-container_group">
                <h1 class="register__title">Registrarse</h1>
                <form id="register-form" class="register__form">
                    <div class="input-container">
                        <input type="text" id="username" name="username" class="register__input" placeholder="Nombre de usuario" required>
                        <img src="../assets/svg/user-icon.svg" alt="User Icon" class="input-icon">
                    </div>
                    
                    <div class="input-container">
                        <input type="email" id="email" name="email" class="register__input" placeholder="Correo institucional" required>
                        <img src="../assets/svg/mail-icon.svg" alt="Email Icon" class="input-icon">
                        <small>¿No tienes correo institucional?</small>
                    </div>
                    
                    <div class="input-container">
                        <input type="password" id="password" name="password" class="register__input" placeholder="Contraseña" required>
                        <img src="../assets/svg/password-icon.svg" alt="Password Icon" class="input-icon">
                    </div>
                    
                    <button type="submit" class="register__button register__button--primary">Registrar</button>
                </form>
                <p class="register__footer">¿Ya tienes una cuenta? <a href="login.html" class="register__link">Inicia sesión</a></p>
            </div>
        </div>
    </div>
    <script src="../js/auth/register.js"></script>
</body>
</html>

