<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación - San Market</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/verification.css">
</head>
<body>
    <div class="verification-container">
        <div class="verification-message">
            <img src="../assets/svg/email-multiple.svg" alt="Icono de correo múltiple" class="verification-icon">
            <h1>Verificación</h1>
            <p>Te enviamos un correo de verificación para que puedas usar tu cuenta. Por favor, revisa tu correo institucional y sigue las instrucciones para activar tu cuenta. Si no encuentras el correo, verifica tu carpeta de spam o correo no deseado. Para cualquier problema puedes contactarnos.</p>
            <div class="contact-info">
                <div>
                    <img src="../assets/svg/whatsapp.svg" alt="Icono de WhatsApp" class="contact-icon">
                    <span>946222941</span>
                </div>
                <div>
                    <img src="../assets/svg/gmail.svg" alt="Icono de correo" class="contact-icon">
                    <span>soporte@iristech.pe</span>
                </div>
            </div>
        </div>
        <div class="verification-logo">
            <img src="../assets/svg/logo.svg" alt="Logo de San Market">
        </div>
    </div>
</body>
</html>

