/* Centrado en el body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* Ajustes en .register para el tamaño relativo */
.register {
    display: flex;
    width: 70vw;
    min-width: 600px;
    max-width: 900px;
    height: 500px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--secondary-color);
    position: relative;
}

.register__logo-container {
    background-color: var(--secondary-color);
    padding: 0 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
}

.login__back-button {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 40px;
    color: var(--primary-color);
    text-decoration: none;
}

.register__logo {
    width: 150px;
    height: auto;
}

/* Estilos del contenedor de formulario */
.register__form-container {
    background-color: var(--primary-color);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    padding: 20px 20px 20px 80px;
}

.form-container_group {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.register__title {
    font-size: 27.6px;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.register__label {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 0px;
    display: block;
}

.register__input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Espacio para el ícono */
    margin-bottom: 5px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background);
    color: var(--text-color);
}

.register__button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: var(--button-color-light-mode);
    width: 100%;
    height: fit-content;
}

.register__button--primary {
    background-color: var(--button-color-light-mode);
    color: var(--secondary-color);
}

.register__button--primary:hover {
    background-color: var(--button-hover-light-mode);
}

.register__footer {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
}

.register__input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Espacio para el ícono */
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: var(--text-color);
    font-size: 16px;
    outline: none;
}

.register__input::placeholder {
    color: #bbb;
}

.register__link {
    color: var(--text-color);
    text-decoration: none;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.input-helper {
    font-size: 12px;
    color: var(--text-color);
    margin-top: -5px;
    margin-bottom: 15px;
}

small {
    color: #bbb;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
