/* Centrado en el body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* Ajustes en .register para el tamaño relativo */
.register {
    display: flex;
    width: 70vw;
    min-width: 600px;
    max-width: 900px;
    height: 500px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--secondary-color);
    position: relative;
}

.register__logo-container {
    background-color: var(--secondary-color);
    padding: 0 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
}

.register__logo {
    width: 200px; /* Aumenta el tamaño del logo */
    height: auto;
}

.login__back-button {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 40px;
    color: var(--primary-color);
    text-decoration: none;
}

/* Estilos del contenedor de formulario */
.register__form-container {
    background-color: var(--primary-color);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    padding: 20px 20px 20px 80px;
}

.form-container_group {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.register__title {
    font-size: 27.6px;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.register__label {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 0px;
    display: block;
}

.register__input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Espacio para el ícono */
    border: none;
    border-bottom: 3px solid #fff; /* Línea más gruesa */
    background-color: transparent;
    color: var(--text-color);
    font-size: 16px;
    outline: none;
}

.register__input::placeholder {
    color: #bbb;
}

.register__button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    background-color: #fff; /* Fondo blanco */
    color: var(--primary-color); /* Texto en rojo */
    border: 2px solid var(--primary-color); /* Agregar borde */
    width: 100%;
    height: fit-content;
}

.register__button--primary:hover {
    background-color: var(--button-hover-light-mode);
}

.register__footer {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    margin-top: 10px;
}

.register__footer a {
    color: #fff; /* Color blanco para que se vea */
    text-decoration: underline;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-icon {
    position: absolute;
    top: 20%; /* Eleva el icono al nivel del texto */
    right: 10px;
    transform: translateY(-20%); /* Ajusta la posición */
    width: 20px;
    height: 20px;
    fill: #fff; /* Asegura que los iconos sean blancos */
}

/* Estilo para el texto adicional al lado del icono */
.input-suffix {
    position: absolute;
    right: 35px; /* Ajusta este valor si es necesario */
    top: 20%; /* Eleva el texto al nivel del campo de entrada */
    transform: translateY(-20%);
    color: #bbb; /* Color del texto */
    font-size: 14px;
}

.input-helper {
    font-size: 12px;
    color: #fff; /* Blanco */
    font-style: italic; /* Cursiva */
    text-decoration: underline; /* Subrayado */
    margin-top: 5px; /* Espacio debajo de la línea de entrada */
    margin-bottom: 15px;
}

small {
    color: #bbb;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
